body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.menu-button {
    font-size: 20px;
    color: #555;
    background: none;
    border: none;
    cursor: pointer;
}

.undo-redo-buttons {
    margin-left: auto;
    display: flex;
}

.undo-redo-button {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.undo-redo-button:disabled {
    background-color: #d3d3d3;
    color: #555;
    cursor: not-allowed;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-menu {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
}

.text-menu label {
    display: block;
    margin-top: 10px;
}

.text-menu input, .text-menu select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.text-menu button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.text-menu button:hover {
    background-color: #45a049;
}
